<main class="main-container">
  <div class="main-text-container">
    <p>- For Freelancers</p>
    <div class="hero-text">
      <h1>Wallet Made Easy.</h1>
      <p>
        Free Payment Gateway. Supports NetBanking,<br />
        Credit, Debit Cards, UPI etc.
      </p>
    </div>
    <p class="main-cta">
      <span class="learn-more"><b>Learn More</b></span>
    </p>
  </div>
  <div>
    <!-- <img
      height="550px"
      width="550px"
      src="https://am4pap001files.storage.live.com/y4m-rp1HMLZoNRmre-WMgbbiax9fIot_OKWUejUICB5fBGR32emVY99GqDRJPFU0yXFCSCscpGMwa_XYgO6mudqc4m7uOxZHhUO8x_PfnxMUqhzsBGq1SBilDlfoOqOFFl9tRF_IqKb4jscNjCFGsCNiNlVxN24BgnvgEzZoG17kyQS_g3MQeNQRwo1EP-JPe7X?width=1902&height=1386&cropmode=none"
      alt="wallet made easy img"
    > -->
  </div>
</main>
