<footer class="footer-container">
  <div class="footer-cta">
    <div class="cta-img-container">
      <img
        src="https://am4pap001files.storage.live.com/y4mv1isfyKvX1TTOswmbZfSqYVV-tMR5AZDxznXBFgKaXx5VWCQZYhNBDKoOLQN_JvDk3rxir7F6OLzRal6PaIzn4pYxOm6AajIKpSXcQcC0RRu_skswxq8JF0UOAGVtolRm0qIuixw276fX_7FZ2x26qZG5WwVQz9kiYxh__s2ROQLEETk4W40M1cNiz0CuoTV?width=512&height=512&cropmode=none"
        alt="cta-cards"
      />
    </div>
    <p>
      Best Payment Gateway for Global <br />
      Go live Instantly. <br />
      <span class="learn-more">Learn More</span>
    </p>
  </div>
  <div class="footer-socials">
    <p>Linkedin</p>
    <p>/</p>
    <p>Facebook</p>
    <p>/</p>
    <p>Instagram</p>
  </div>
</footer>
