/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Alata", sans-serif;
  width: 90%;
  margin: 15px auto;
  max-height: 100vh;
  background: #ebfbfa;
  background: -webkit-radial-gradient(
    circle farthest-side at top right,
    #ebfbfa 35%,
    #52f1cb 76%,
    #19f6ae 93%,
    #19f6ae 83%,
    #a5f5ea 100%
  );
  background: -moz-radial-gradient(
    circle farthest-side at top right,
    #ebfbfa 35%,
    #52f1cb 76%,
    #19f6ae 93%,
    #19f6ae 83%,
    #a5f5ea 100%
  );
  background: radial-gradient(
    circle farthest-side at top right,
    #ebfbfa 35%,
    #52f1cb 76%,
    #19f6ae 93%,
    #19f6ae 83%,
    #a5f5ea 100%
  );
}

body::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #ebfbfa;
  background: radial-gradient(
    ellipse farthest-side at top right,
    #ebfbfa 83%,
    #52f1cb 100%
  );
  width: 950px;
  height: 400px;
  border-radius: 20%;
  z-index: -1;
  left: 20px;
  top: -180px;
  /* transform: skewX(24deg); */
  transform: matrix(1, -0.25, 0, 1, 0, 0);
}
