/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  width: 90%;
  margin: 15px auto;
  max-height: 100vh;
}
